@font-face {
  font-family: 'Lato-Bold';
  src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf');
}

body {
  font-family: 'Lato-Bold';
}

.main-wrapper {
  box-sizing: border-box;
  width: 1020px;
  margin: 0 auto;
  background-color: #2d303a;
  height: 870px;
}

.header {
  padding-top: 69px;
  padding-left: 39px;
  padding-right: 39px;
  margin-bottom: 11px;
}

.header-title {
  margin-bottom: 27px;
  text-align: justify;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato-Bold';
  font-weight: 900;
  letter-spacing: 0.025em;
}

.header-summary {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: 'Lato';
  font-weight: 300;
  text-align: left;
  word-spacing: -0.115em;
}

.gallery {
  padding-left: 40px;
  padding-right: 39px;
}

.gallery-buttons {
  margin-left: 1px;
  margin-bottom: 19px;
}

.gallery-switch {
  padding-left: 5px;
  height: 22px;
  font-size: 12px;
  line-height: 18px;
  color: #767e9e;
  background-color: #0f0f0f;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-family: 'Lato';
  font-weight: 400;
  letter-spacing: 0.025em;
  word-spacing: -0.1em;
}

.gallery-switch.active {
  border-color: white;
  color: white;
}

.gallery-switch:not(:last-child) {
  margin-right: 6px;
}

.gallery-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 67px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

.gallery-item {
  width: 220px;
  height: 187px;
  overflow: hidden;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
}

.about-us {
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f2f2f2;
}

.about-header {
  margin-bottom: 44px;
}

.about-title {
  margin-bottom: 27px;
  text-align: justify;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato-Bold';
  font-weight: 900;
  letter-spacing: 0.025em;
  word-spacing: 0.021em;
}

.about-summary {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: 'Lato';
  font-weight: 300;
  text-align: justify;
  word-break: break-all;
}

.people-grid {
  display: flex;
  flex-direction: row;
}

.people-item {
  width: 300px;
  height: 300px;
}

.people-item:not(:last-child) {
  margin-right: 19px;
}

.people-item:last-child {
  margin-left: 2px;
}

.people-photo {
  width: 100%;
  height: 100%;
  margin-bottom: 14px;
}

.people-item-name {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato';
  font-weight: 900;
}

.people-item-desc {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: 'Lato';
  font-weight: 400;
}

.people-item-summary {
  margin-bottom: 21px;
}

.socials {
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.separator {
  height: 5px;
}

.separator-gallery {
  background-color: #323746;
}

.separator-about {
  color: white;
}
